<%= render "layouts/flash" %>

<div>
	<h1>Welcome To My App</h1>
	<h2>Book My Show</h2>
		<h2><%= link_to "Book your Tickets Now!", users_new_path %></h2>
</div>
<%= link_to image_tag("logo.png", alt: "Rails logo"  ,size: "150x150"),'https://humornama.com/meme-templates/buddhi-bahut-tez-hai-tumhari-meme-template/' %>

<p>old user? <%= link_to "login now!", sessions_new_path %></p>