<%= form_tag user_path(screen_id: @user.screens.id, movie_id: @user.movie.id, theater_id: @user.theater.id ) do %>
	<div>
		<%= label_tag :Name %> <br>
		<%= text_field_tag :name %>

		<%= submit_tag "Book Your Ticket" %>
	</div>
<% end %>