<head>
	<%= link_to "Log out", sessions_destroy_path, method: :delete %>
</head>
<h1>Available Screen</h1>
<ul>
	<% @theater.screens.each do |screen| %>
	<li>
		<%= link_to  screen.s_name , theater_screen_path(screen, theater_id: @theater.id)%>   
	</li>
	<% end %>
</ul>
<%= link_to "Home",  theaters_path%>
